{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Article{% endblock %}

{% block content %}
<div class="row mb-2 article">
    {% if article %}
    <div class="col-sm-12">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{article.title}}</h3>
                <h5>{{article.author}}</h5>
                <p class="mb-auto">{{article.description}}</p>
            </div>
            
        </div>
    </div>
    {% endif %}
    <hr>

<div>
    <h2 class="ml-5">{{total_comments}} Comments</h2>
</div>

<ul class="comment-list">
    {% for cm in comments %}
    <li class="comment">
      <div class="vcard bio">
        <img src="#" alt="Image placeholder">
      </div>
      <div class="comment-body">
        <h3>{{cm.0.user.username}}</h3>
        <div class="meta">{{cm.0.created_at}}</div>
        <p>{{cm.0.comm}}</p>
        <p id="{{cm.0.id}}"><button onclick="ReplyForm('{{cm.0.id}}')" class="reply">Reply</button></p>
      </div>

      <ul class="children">
        {% for subc in cm.1 %}
        <li class="comment">
          <div class="vcard bio">
            <img src="#" alt="Image placeholder">
          </div>
          <div class="comment-body">
            <h3>{{subc.user.username}}</h3>
            <div class="meta">{{subc.time}}</div>
            <p>{{subc.comm}}</p>
          </div>


        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  
  </ul>

   <!-- END comment-list -->

  <div class="comment-form-wrap pt-5">
    <div class="section-title">
      <h2 class="mb-5">Leave a comment</h2>
    </div>
    <form method="POST" class="p-5 bg-light">
      {% csrf_token %}
      <div class="form-group">
        <label for="message">Comment</label>
        <textarea name="comm" id="message" cols="30" rows="3" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Post Comment" class="btn btn-primary py-3">
      </div>

    </form>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
<script type="text/javascript">
    function ReplyForm(id) {
      let elm = `<form method="POST" class="p-5 bg-light">
                  {% csrf_token %}
      <div class="form-group">
      <input type='text' value='${id}' name = 'comment_id' style="display:none;" readonly/>
        <label for="message">Comment</label>
        <textarea name="comm" id="message" cols="30" rows="3" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Reply" class="btn btn-primary py-3">
      </div>

    </form>`;
    document.getElementById(id).innerHTML = elm;
    }
  </script>

{% endblock %}